body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007BFF;
    background-image: url('https://giphy.com/gifs/code-ko7twHhomhk8E'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.info-card {
    max-width: 400px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.intro-text {
    color: #333;
    margin-bottom: 20px;
}

.beta-message {
    font-style: italic;
    color: #888;
}

.email-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}