body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background-image: url('https://giphy.com/embed/ko7twHhomhk8E'); /* URL of the GIF */
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .content {
        z-index: 1;
        position: relative;
        text-align: center;
        color: white;
    }
    .content h1 {
        font-size: 2em;
    }

    .content p {
        font-size: 1.2em;
    }

    .content a {
        color: #ff7e5f;
        text-decoration: none;
    }

.background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
}

.background-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    z-index: 1;
    position: relative;
}


.info-card {
    max-width: 400px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.intro-text {
    color: #333;
    margin-bottom: 20px;
}

.beta-message {
    font-style: italic;
    color: #888;
}

.email-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}